{% extends "base.html" %}
{% block content %}

    {% for block in chain %}
        <div class="container" style="background-color: #233237; margin-top: 20px; padding-top: 10px; padding-bottom: 10px">
            
            <!-- indice del bloque -->
            <div class="row" style="margin-top: 10px">
                <div class="col-md-4">
                    <label for="block_index" style="color: #EAC67A">
                        Block index
                    </label>
                </div>
                <div class="col-md-8">
                    <input class="form-control" type="text" name="block_index" value="{{ block['index'] }}">
                </div>
            </div>

            <!-- Hash del bloque anterior -->
            <div class="row" style="margin-top: 10px">
                <div class="col-md-4">
                    <label for="previous_hash" style="color: #EAC67A">
                        Previous hash
                    </label>
                </div>
                <div class="col-md-8">
                    <input class="form-control" type="text" name="previous_hash" value="{{ block['previous_hash'] }}">
                </div>
            </div>
            
            <!-- prueba -->
            <div class="row" style="margin-top: 10px">
                <div class="col-md-4">
                    <label for="proof" style="color: #EAC67A">
                        Nounce
                    </label>
                </div>
                <div class="col-md-8">
                    <input class="form-control" type="text" name="proof" value="{{ block['proof'] }}">
                </div>
            </div>

            <!-- transacciones -->
            <div class="row" style="margin-top: 10px">
                <div class="col-md-4">
                    <label for="transactions" style="color: #EAC67A">
                        Transactions
                    </label>
                </div>
                <div class="col-md-8">
                        {% if not block['transactions'] %}
                            <p style="color: #EAC67A">No se encontraron transacciones en este bloque</p>
                        {% else %}
                            <table class="table table-dark table-striped">
                                <thead>
                                    <tr>
                                        <th>Sender</th>
                                        <th>Recipient</th>
                                        <th>Value</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for transaction in block['transactions'] %}
                                    <tr>
                                        <td>{{ transaction['sender'] }}</td>
                                        <td>{{ transaction['recipient'] }}</td>
                                        <td>{{ transaction['amount'] }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                </div>
            </div>

            
            
        </div>
    {% endfor %}
    
{% endblock %}