{% extends "base.html" %}
{% block content %}

<div class="container" style="background-color: #233237; margin-top: 20px; padding-top: 10px; padding-bottom: 10px">

	<form method="POST" action="/transactions/new">
		<!-- remitente -->
	    <div class="row" style="margin-top: 10px">
	        <div class="col-md-4">
	            <label for="sender" style="color: #EAC67A">
	                Sender
	            </label>
	        </div>
	        <div class="col-md-8">
	            <input class="form-control" type="text" name="sender" id="sender">
	        </div>
	    </div>

	    <!-- receptor -->
	    <div class="row" style="margin-top: 10px">
	        <div class="col-md-4">
	            <label for="recipient" style="color: #EAC67A">
	                Recipient
	            </label>
	        </div>
	        <div class="col-md-8">
	            <input class="form-control" type="text" name="recipient" id="recipient">
	        </div>
	    </div>

		<!-- monto -->
	    <div class="row" style="margin-top: 10px">
	        <div class="col-md-4">
	            <label for="amount" style="color: #EAC67A">
	                Amount
	            </label>
	        </div>
	        <div class="col-md-8">
	            <input class="form-control" type="text" name="amount" id="amount">
	        </div>
	    </div>

		<div style="margin-top: 10px">
			<button type="submit" class="btn btn-block" style="background-color: #984B43"><p style="color: #EAC67A">
		    	Generar transacción
		    </p>
			</button>	
		</div>
	    
	</form>
</div>

{% endblock %}